/* footer */
.footer {
	.subscribe {
		padding: $gutter-width;
		.item-text {
			font-size: 1.13rem;
		}
		.row,
		.input-field,
		.input-text {
			margin: 0;
		}
		.input-text {
			color: #fff;
			height: 30px;
			line-height: 30px;
			margin-top: 5px;
		}
		.btn {
			max-width: 170px;
			height: 40px;
			line-height: 40px;
			float: right;
		}
	}
	.footer-content {
		padding: $gutter-width*2 0;
		color: color("grey", "darken-3");
		font-size: 14px;
	}
	.site-name {
		font-size: 35px;
		line-height: 1;
		font-weight: bold;
	}
	.site-desc {
		font-size: 11px;
		margin: $gutter-width/2 0;
	}
	.copy
	{
		margin-top: $gutter-width;
	}
	.callback {
		padding-right: $gutter-width*1.5;
		text-align: right;
		min-width: 235px;
	}
	.phone {
		font-size: 26px;
		font-weight: bold;
		line-height: 1;
	}
	.callback-btn {
		margin-top: 5px;
	}
	.footer-menu {
		max-width: calc(80% - 235px);
	}
	.footer-menu .menu {
		width: 100%;
		column-count: 3;
		column-gap: $gutter-width;
		margin: 0;
		.menu-item {
			display: inline-block;
		}
		.menu-link {
			display: block;
			font-size: 18px;
			font-weight: bolder;
			line-height: $gutter-width*1.5;
			padding: $gutter-width/2 0;
			margin-bottom: $gutter-width/2;
			color: inherit;
			cursor: default;
		}
		.submenu-link {
			display: block;
			margin: 0.5em 0;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
@media screen and (max-width: 1250px){
	.footer .callback {
		padding-right: 0;
		min-width: 205px;
	}
}
@media #{$medium-and-down}{
	.footer {
		.callback {
			text-align: left;
			margin: $gutter-width 0;
		}
		.footer-menu {
			max-width: 100%;
		}
	}
}
@media #{$small-and-down}{
	.footer {
		.subscribe {
			text-align: center;
			.input-field {
				margin: $gutter-width auto $gutter-width*2;
				width: 70%;
				float: none;
			}
			.btn {
				float: none;
				margin: $gutter-width/2 auto;
			}
		}
		.footer-content {
			padding: 0 0 $gutter-width;
		}
		.logo, .callback, .copy {
			text-align: center;
		}
		.footer-menu {
			margin: 0 0 $gutter-width*1.5;
			padding: 0;
		}
		.footer-menu .menu {
			column-count: 1;
			.menu-item {
				display: block;
				border-bottom: 1px solid #b8b8b8;
			}
			.menu-link {
				padding: 15px $gutter-width;
				margin: 0;
				cursor: pointer;
				&:after {
					content: '>';
					display: block;
					position: absolute;
					color: #828282;
					transform: rotate(90deg) scale(1,2);
					transition: transform .3s;
					top: 27px;
					right: $gutter-width;
					z-index: 2;
					font-size: 12px;
					line-height: 1;
					font-weight: normal;
				}
				&.active:after{
					transform: rotate(-90deg) scale(1,2);
				}
			}
			.submenu {
				width: 100%;
				display: none;
				overflow: hidden;
				padding: 0 $gutter-width $gutter-width;
			}
		}
	}
}